.banner {
  height: 60px;
  background-color: rgb(160, 159, 159);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list {
  padding-left: 15px;
}

.userName {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-banner {
gap: 5px;
  border: none;
  background-color: rgb(160, 159, 159);
  font-size: 20px;
  height: 60px;
  color: white;
}

.btn-banner:hover {
  background-color: grey;
}

.popup-container {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #000000;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
}

.popup-content{
    padding: 10px;
    display: flex;
    align-items: center;
}

.popup-btn {
    font-size: 20px;
    padding: 6px 13px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #005dc0;
}

.modal-header {
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

