.chatbox {
    position: fixed;
    bottom: 0;
    width: 25%;
    background-color: #f8f8f8;
    padding: 10px 10px;
}

.box-header {
    height: 35px;
    margin-left: 3px;
    border-bottom: grey 1px solid;
}

.box-body {
    height: 300px; 
    overflow-y: auto;
}

.box-footer {
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
    justify-content: space-around;
}

.robot {
    margin-left: 5px;
    text-align: left;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.shrink {
    border: none;
    background-color: #f8f8f8;
    float: right;
}

.text {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    padding: 8px 10px;
    background-color: rgb(223, 223, 223);
    margin: 0 5px;
    vertical-align: middle;
}

.user {
    text-align: right;
    align-items: end;
    margin: 20px 0;
    justify-content: flex-end;
}

.bot {
    justify-content: flex-start;
}

.input {
    width: 75%;
    height: 40px;
}

.btn-voice {
    border: none;
    background-color: #f8f8f8;
    height: 40px;
}

.btn-voice:hover {
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
}

.btn-send {
    border: none;
    padding: 7px 10px;
    background-color: #f8f8f8;
    height: 40px;
}

.btn-send:hover {
    border-radius: 30%;
    background-color: rgb(206, 206, 206);
}

/* .fabs {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: #698cb3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
} */

.bubble {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
